.wrapper {
  position: relative;
  height: 100vh;
  background-image: url('../../shared/assets/img/bg-main.avif'), url('../../shared/assets/img/bg-main.webp'),
    url('../../shared/assets/img/bg-main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: -1;
  }

  h1 {
    color: white;
    margin: 0;
  }
}
